<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>A fine day</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A fine day</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Bloodlust</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bloodlust</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Eternal sleep</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Eternal sleep</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>In development</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>In development</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PRIDE</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PRIDE</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Summer vibes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Summer vibes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Sunshine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sunshine</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lanigirO xatnoK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lanigirO xatnoK</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A fine day</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bloodlust</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lanigirO xatnoK</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Summer vibes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sunshine</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Kontax Cam requires camera access to take photo.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Kontax Cam requires permission to save photo to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kontax Cam requires access to your library to save photo.</string>
	<key>Shake</key>
	<dict>
		<key>APIClientID</key>
		<string>7gMAucIL198pSwx3ny6zez3Yox9t3lXuP3KV9lId</string>
		<key>APIClientSecret</key>
		<string>AmsipemILCdRf6O2TP4S25ad7G7yjl1PrHFigF3SGnxc1Yw2ydyP7a2</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Date Stamp Alt.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
